.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/DYC_KRP.iml
/app/google-services.json
app.iml
debug/
google-services.json
src/androidTest/
/gradle/
.idea/
app/src/androidTest/
gradle/
